body{
	background-image: linear-gradient(to bottom,#F8FFAE,#43C6AC) !important;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
*{
	font-family: 'Rubik', sans-serif;
}
.box{
	background-color: rgb(250, 250, 250);
	padding: 20px;
	border-radius: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn, .alert, input{
	border-radius: 1px !important;
}